dashboard-arduino.json
[{"id":"c8232ab2.71f578","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e6f10eb4.2fee2","type":"ui_button","z":"c8232ab2.71f578","name":"","group":"2f8c92ea.b3365e","order":0,"width":"2","height":"1","passthru":false,"label":"LIGA","color":"","bgcolor":"#2E8B57","icon":"","payload":"true","payloadType":"bool","topic":"","x":310,"y":200,"wires":[["7fadaeb6.2ff6c"]]},{"id":"746bd330.f9687c","type":"ui_button","z":"c8232ab2.71f578","name":"","group":"2f8c92ea.b3365e","order":0,"width":"2","height":"1","passthru":false,"label":"DESLIGA","color":"","bgcolor":"#bc3434","icon":"","payload":"false","payloadType":"bool","topic":"","x":300,"y":260,"wires":[["7fadaeb6.2ff6c"]]},{"id":"7fadaeb6.2ff6c","type":"arduino out","z":"c8232ab2.71f578","name":"Pino 3","pin":"3","state":"OUTPUT","arduino":"","x":540,"y":240,"wires":[]},{"id":"a2bc937b.da365","type":"ui_text","z":"c8232ab2.71f578","group":"2f8c92ea.b3365e","order":0,"width":"2","height":"1","name":"","label":"Pino 3","format":"{{msg.payload}}","layout":"row-center","x":310,"y":140,"wires":[]},{"id":"775e7b89.194944","type":"ui_switch","z":"c8232ab2.71f578","name":"","label":"","group":"2f8c92ea.b3365e","order":0,"width":"4","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":310,"y":400,"wires":[["45529e57.6205d"]]},{"id":"3b99b6d0.adc2fa","type":"ui_text","z":"c8232ab2.71f578","group":"2f8c92ea.b3365e","order":0,"width":"2","height":"1","name":"","label":"Pino 5","format":"{{msg.payload}}","layout":"row-center","x":170,"y":400,"wires":[]},{"id":"45529e57.6205d","type":"arduino out","z":"c8232ab2.71f578","name":"Pino 5","pin":"5","state":"OUTPUT","arduino":"","x":540,"y":400,"wires":[]},{"id":"caf6ae4b.142c5","type":"ui_slider","z":"c8232ab2.71f578","name":"","label":"","group":"11da6196.f861fe","order":0,"width":"4","height":"1","passthru":false,"topic":"","min":0,"max":"255","step":1,"x":310,"y":480,"wires":[["7276a1f5.7a62a"]]},{"id":"7f69db6.ea2c624","type":"ui_text","z":"c8232ab2.71f578","group":"11da6196.f861fe","order":0,"width":"2","height":"1","name":"","label":"Pino 9","format":"{{msg.payload}}","layout":"row-center","x":170,"y":480,"wires":[]},{"id":"7276a1f5.7a62a","type":"arduino out","z":"c8232ab2.71f578","name":"Pino 9","pin":"9","state":"PWM","arduino":"","x":530,"y":480,"wires":[]},{"id":"633e397.6878ac8","type":"ui_text","z":"c8232ab2.71f578","group":"11da6196.f861fe","order":0,"width":"2","height":"1","name":"","label":"Pino 10","format":"{{msg.payload}}","layout":"row-center","x":170,"y":580,"wires":[]},{"id":"bc1f3df6.f7e37","type":"ui_numeric","z":"c8232ab2.71f578","name":"","label":"","group":"11da6196.f861fe","order":0,"width":"4","height":"1","passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":320,"y":580,"wires":[["f3d8fcda.ac5fd"]]},{"id":"f3d8fcda.ac5fd","type":"arduino out","z":"c8232ab2.71f578","name":"Pino 10","pin":"10","state":"PWM","arduino":"","x":520,"y":580,"wires":[]},{"id":"6d8d5f41.71971","type":"ui_chart","z":"c8232ab2.71f578","name":"","group":"17b1000.27233","order":0,"width":0,"height":0,"label":"Entrada A0","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":490,"y":680,"wires":[[],[]]},{"id":"d9824057.5242e","type":"arduino in","z":"c8232ab2.71f578","name":"Pino A0","pin":"1","state":"ANALOG","arduino":"","x":170,"y":680,"wires":[["6d8d5f41.71971"]]},{"id":"650a0039.aa466","type":"ui_text","z":"c8232ab2.71f578","group":"17b1000.27233","order":0,"width":"2","height":"1","name":"","label":"Entrada A1","format":"{{msg.payload}}","layout":"row-center","x":130,"y":780,"wires":[]},{"id":"f2787c42.a5a95","type":"ui_gauge","z":"c8232ab2.71f578","name":"","group":"17b1000.27233","order":0,"width":0,"height":0,"gtype":"gage","title":"Entrada A1","label":"units","format":"{{value}}","min":0,"max":"1023","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":780,"wires":[]},{"id":"e1ebfa7c.70f308","type":"arduino in","z":"c8232ab2.71f578","name":"Pino A1","pin":"2","state":"ANALOG","arduino":"","x":270,"y":780,"wires":[["f2787c42.a5a95"]]},{"id":"2f8c92ea.b3365e","type":"ui_group","z":"","name":"Acionamentos ON/OFF","tab":"1885414d.f7c54f","disp":true,"width":"6","collapse":false},{"id":"11da6196.f861fe","type":"ui_group","z":"","name":"Acionamentos com o PWM","tab":"1885414d.f7c54f","disp":true,"width":"6","collapse":false},{"id":"17b1000.27233","type":"ui_group","z":"","name":"Entradas Analógicas","tab":"1885414d.f7c54f","disp":true,"width":"6","collapse":false},{"id":"1885414d.f7c54f","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]
